{% extends 'layout.html' %}

{% block head %}
<style>
  body {
    background-color: #e6e6e6;
  }

  .col {
    background: #fff;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 20px;
    padding-top: 30px;
    border-radius: 12px;
  }

  .col p {
    color: #585858;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
</style>

{% endblock %}


{% block body %}

<div class="container"></div>
<div class="row" style="margin-left: 10px; margin-right: 10px;">
  <div class="col" style="text-align: center;">
    <h4 style="font-weight: 700; color: #545454;">Dwipayan Debbarma</h4><br>

    <img class="rounded-circle z-depth-2" alt="100x100" src="../static/img/IMG_20200620_160756(1).jpg"
      data-holder-rendered="true">
    <br><br>
    <p>An aspiring Data Scientist and a student at ICFAI University, Tripura currently pursuing B.Tech in Computer
      Science and Engineering aiming to learn all the necessary tools and concepts related to Data Science.
      I am highly skilled in Data Analysis, Data Visualization, Machine Learning and Cluster Analysis with Python as my
      first language.</p>

  </div>
  <div class="col" style="text-align: center; color: #545454;">
    <h4 style="font-weight: 700;">Rishab Dhar</h4><br>

    <img class="rounded-circle z-depth-2" alt="100x100" src="../static/img/rishab.jpg" data-holder-rendered="true">
    <br><br>
    <p>An aspiring Data Scientist and a student at ICFAI University, Tripura currently pursuing B.Tech in Computer
      Science and Engineering aiming to learn all the necessary tools and concepts related to Data Science.
      I am highly skilled in Data Analysis, Data Visualization, Machine Learning and Cluster Analysis with Python as my
      first language.</p>

  </div>
  <div class="col" style="text-align: center; color: #545454;">
    <h4 style="font-weight: 700;">Prasanta Roy Choudhury</h4><br>

    <img class="rounded-circle z-depth-2" alt="100x100" src="../static/img/prc.jpg" data-holder-rendered="true">
    <br><br>
    <p>An aspiring Data Scientist and a student at ICFAI University, Tripura currently pursuing B.Tech in Computer
      Science and Engineering aiming to learn all the necessary tools and concepts related to Data Science.
      I am highly skilled in Data Analysis, Data Visualization, Machine Learning and Cluster Analysis with Python as my
      first language.</p>

  </div>
</div>

{% endblock %}